{% macro card(post) %}
<article class="mb-10">
    <a href="/blog/{{ post.data.slug }}/" class="group block">
        <h2 class="text-2xl font-bold mb-4 group-hover:text-blue-500">{{ post.data.title }}</h2>
        <p class="text-lg">{{ post.data.description }}</p>
    </a>
</article>
{% endmacro %}