<header class="px-5 text-lg">
    <ul class="flex justify-center flex-wrap py-5 gap-4 mb-10">
        <li><a href="/" class="py-3 px-5 underline rounded-md hover:text-blue-500">Home</a></li>
        <li><a href="/blog/" class="py-3 px-5 underline rounded-md hover:text-blue-500">Blog</a></li>
        <li><a href="/about/" class="py-3 px-5 underline rounded-md hover:text-blue-500">About</a></li>
        <li><a href="/contact/" class="py-3 px-5 underline rounded-md hover:text-blue-500">Contact</a></li>
    </ul>
</header>