<div class="flex flex-wrap justify-center items-center gap-10">
    <div class="flex-grow"></div>
    <a href="{{ pagination.href.previous }}" class="underline hover:text-blue-500 py-3 px-5 text-lg">Previous</a>
    <a href="{{ pagination.href.next }}" class="underline hover:text-blue-500 py-3 px-5 text-lg">Next</a>
    <div class="flex-grow"></div>
</div>